<%= form_for(@admin_challenge) do |f| %>
  <% if @admin_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_challenge.errors.count, "error") %> prohibited this admin_challenge from being saved:</h2>

      <ul>
      <% @admin_challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
	</div>
	<div class="field">
	  <%= f.label :url %><br />
	  <%= f.text_field :url %>
	</div>
	<div class="field">
	  <%= f.label :summary %><br />
	  <%= f.text_area :summary %>
	</div>
	<div class="field">
        <strong>Awards</strong>
      <%= f.fields_for :awards do |award_fields| %>
      	  <%= award_fields.label :value %><%= award_fields.text_field :value %>
      	  <%= award_fields.label :description %><%= award_fields.text_field :description %>
      <% end %>
    </div>
	<div class="field">
        <strong>Deadlines</strong>
        <%= f.fields_for :deadlines do |deadline_fields| %>
    	  <%= deadline_fields.label :date %><%= deadline_fields.text_field :date %>
    	  <%= deadline_fields.label :description %><%= deadline_fields.text_field :description %>
        <% end %>
	</div>
	<div class="field">
	  <%= f.label :post_date %><br />
	  <%= f.datetime_select :post_date %>
	</div>
	<div class="field">
	  <%= f.label :image_url %><br />
	  <%= f.text_field :image_url %>
	</div>
	<div class="field">
	  <%= f.label :rules %><br />
	  <%= f.text_area :rules %>
	</div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

