<h1 class="page-header">// CHALLENGES</h1>
	
	<p id="notice"><%= notice %></p>
	<!--<%= link_to 'Edit', edit_challenge_path(@challenge) %> |-->
	<div class="back-link"><%= link_to 'Back to Challenges', challenges_path %></div>


<div class="span8">
	
	<div class="row-2">
		<div class="span2">
			<img src="<%=asset_path "challenge.png"%>" width="100px" height="100px"/>
		</div>
		<div class="span6">
			<div class="detail-highlights">
				<p id="challenge-name">
			  		<h5><%= @challenge.title %></h5>
				</p><br>
							<div class="detail-highlights"><p>AWARD</p></div>
			<p><%= @challenge.awards.map { |award| award.value}.max if @challenge.awards %>
			</p><br>

			<div class="detail-highlights"><p>DEADLINE</p></div>
			<p><%= @challenge.deadlines.map {|deadline| deadline.date}.min().strftime('%b %e, %Y') if @challenge.deadlines %>
			</p><br>


				<p id="challenge-url">
			  		WEBSITE 
			  		<%= link_to 'Challenge Website', @challenge.url, :target => "_blank" %>
				</p>
			</div><br>
			
			<div class="detail-highlights"><p>SUMMARY</p></div>
			<p>
			  <%= @challenge.summary %>
			</p>
			<br>
	   <!--	<p>
			  <b>Image url:</b>
			  <%= @challenge.image_url %>
			</p> -->
			<div class="detail-highlights"><p>RULES</p></div>
			<p><%= @challenge.rules %>
			</p><br>
			
			<div class="detail-highlights"><p>ELIGIBILITY</p></div>
			<p><%= @challenge.post_date.strftime('%b %e, %Y') if @challenge.post_date %>
			</p><br>
			
			<div class="detail-highlights"><p>FEE</p></div>
			<p><%= @challenge.post_date.strftime('%b %e, %Y') if @challenge.post_date %>
			</p><br>

							<p>
                    <%= render :partial => "challenges/awards", :object => @challenge.awards %>
				</p>

				<p>
                    <%= render :partial => "challenges/deadlines", :object => @challenge.deadlines %>
				</p>

			<div class="detail-highlights"><p>POST DATE</p></div>
			<p><%= @challenge.post_date.strftime('%b %e, %Y') if @challenge.post_date %>
			</p><br>
			
			<div class="detail-highlights"><p>SPONSOR</p></div>
			<p><%= @challenge.sponsor %>
			</p><br>
			
			<div class="detail-highlights"><p>CONTACT INFORMATION</p></div>
			<p><%= link_to @challenge.contact_info, :target => "_blank" %>
			</p><br>
			

			<div class="detail-highlights"><p>SHARE</p>	
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true">
				</div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= @challenge %>" data-text="<%= @challenge.title %>" data-count="none">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


			</div>
		</div>

			
	</div>
		
</div>
